

body,ul{
    margin: 0px;
    padding: 0px;
}

header{
    margin: 0px 0px 20px 0px;
}
nav{
    height: 34px;
    background-color: aquamarine;
}

.nav-list{
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 100%;
}


footer{
    margin: 20px 0px;
    text-align: center;
    padding: 5px;
    background-color: aquamarine; 
}

article{
    width: 90%;
    margin: auto;
}
a{
    font-family: monospace;
    font-size: 15px;
    text-decoration: none;
    padding: 2px 5px;
    margin: 0px 10px;
    border: none;
    color: rgb(245, 244, 243);
    background-color: blueviolet;
    border-radius: 4px;
}

p{
    margin: 7px 0px;
}

table{
    text-align: center;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

tr{
    height: 35px;
    border: 1px solid grey;
}

thead{
    background-color: rgb(49, 92, 92);
    color: aliceblue;
    font-family: system-ui;
}

.table_col_left{
    text-align: left;
    padding: 5px 0px 5px 10px;
}

.text_center{
    text-align: center;
}

#st-form{
    width: 60%;
    margin: auto;
}

.form-div{
    margin: 10px 0px;
}

.form-label{
    display: inline-block;
    width: 55px;
}

.form-input{
    padding: 3px 3px;
    width: 60%;
}

.center{
    text-align: center;
}
.form-btn{
    padding: 4px 22px;
    color: white;
    background: cadetblue;
    border-radius: 4px;
    border: 2px solid grey;
    font-size: 15px;
}

.message{
    text-align: center;
    color: green;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}